<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PrioritySuite">
    <test name="PriorityTest">
        <classes>
            <class name="Tests.TC01_LoginTest"/>
            <class name="Tests.TC02_InvalidLoginTest"/>
            <class name="Tests.TC03_GetOtpTest"/>
        </classes>
    </test>
</suite>
